#root {
  margin: 0;
  text-align: center;
  
}
.containerCard{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #ffcccb, #ffebcd, #c2e0c6)
}